@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

body {
	font-family: Roboto, 'Helvetica', sans-serif;
	margin: 0px;
	background-color: #eee;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 72pt;
	text-align: center;
	margin-bottom: 25px;
}

h4 {
	text-align: center;
	font-weight: 300;
	font-size: 14pt;

}

@-webkit-keyframes notification-bar-scroll {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 64px;
	}
}

#notification-bar {
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
	-webkit-animation: notification-bar-scroll 1s linear infinite;
}

.positive {
	background-image: url("/images/diagonal_64_green.png");
}

.negative {
	background-image: url("/images/diagonal_64_red.png");
}

.navbar {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	

	
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	overflow: hidden;


}

.navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navbar li {
	/* Top blue border */
	border-style: solid;
	border-width: 4px 0px 0px 0px;
	border-color: #0099FF;

	display: inline-block;
	float: left;
	width: 25%;
	height: 50px;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;


}

.navbar li:hover {
	border-color: #008AE6;

}

.navbar a {
	/* making sure grey divider borders dont change element width */
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	display: block;
	color: black;
	text-align: center;
	width:100%;
	text-decoration: none;
	height: 50px;

	/* divider borders */
	
	line-height: 50px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #888;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.navbar a:hover{
	background-color: #F8F8F8; 
}

.navbar a:visited {
	color: black;
	text-decoration: none;
}

.current_page{
	background-color: B2E0FF;
}


.center {
	width: 40%;
	margin: auto;
}

.form {
	text-align: center;
	font-size: 24pt;

}

.login-warning {
	font-size: 12pt;
}



.button {
	color: white;
	font-size: 10pt;
		
	background-color: #0099FF;
	border-style: solid;
	border-color:  #0099FF;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;		
}

.button:hover {
	background-color: #008AE6;
	border-color: #008AE6;
	cursor: pointer;

}

input {
	height: 25px;
	width: 35%;
	font-size: 10pt;
	position: relative;
}

input[type='text'] {
	padding-left: 10px;
}

.center input {
	width: 100%;
}


#text-form {
	width: 75px;
	height: 31px;
	position: relative;
	left: -9px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#user_form {
	width: 35%;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}



.login-warning {
	padding: 15px;
	font-size: 11pt;
	font-weight: 300;
	width: 40%;
	margin: auto;
}

.statistic {

	

	width: 75%;
	margin: auto;
	margin-top: 0px;
	background: #fff;

	padding: 0px 20px 20px 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 4px 0px 0px 0px;
	border-color: #0099FF;
	text-align: left;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;		

}

.statistic:hover {
	border-color: #008AE6;
}

.statistic h2 {
	margin: 15px 0px 0px 0px;
}

.statistic h3 {
	margin: 10px 0px 0px 0px;
}

#h1_info {
	font-size: 42pt;

}
